.button__upload {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 143px;

  margin-left: 291px;
  font-size: 12px;
  font-weight: 500;
  padding: 12px 30px;
  background-color: $second-accent;
  color: $accent;
  letter-spacing: 2px;
  &--icon {
    width: 16px;
    height: 18px;
    fill: $accent;
  }
}
.top__wrapper {
  width: 590px;
  display: flex;
  justify-content: space-between;
}

.menu__wrapper {
  display: flex;
  height: 156px;
  background-color: $button-not-active-back;
  border-radius: 20px;
}
