<div class="section">
    <div class="section__right">
        <div class="section__container">
            <div class="top__menu">
                <div class="input__container">
                    <input class="input__line" type="text" placeholder="Search for breeds by name">
                    <button type="button" class="input__button">
                        <svg class="input__search">
                            <use href="./images/icon/icons.svg#search"></use>
                        </svg>
                    </button>

                </div>
                <div class="reactions__container">
                    <a href="" class="icon__container">

                        <svg class="icon__img icon__img--smile">
                            <use href="./images/icon/icons.svg#smile"></use>
                        </svg>

                    </a>
                    <a href="" class="icon__container">
                        <svg class="icon__img icon__img--heart">
                            <use href="./images/icon/icons.svg#heart"></use>
                        </svg>
                    </a>
                    <a href="" class="icon__container">
                        <svg class="icon__img icon__img--sad">
                            <use href="./images/icon/icons.svg#sad"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="menu__container">
                <div class="button__wrapper">

                    <a href="" class="button__back">
                        <svg class="arrow-left">
                            <use href="./images/icon/icons.svg#arrow-left"></use>
                        </svg>
                    </a>
                    <div class="top__wrapper">
                        <h3 class="menu__title">GALLERY</h3>
                        <button class="button__upload"><svg class="button__upload--icon">
                                <use href="./images/icon/icons.svg#upload"></use>
                            </svg>UPLOAD</button>
                    </div>

                </div>
                <div class="menu__wrapper--gallery">
                    <form class="menu__form" action="">Order
                        <select class="select__gallery select__gallery--order" name="random" id="">
                            <option value="">
                                Random
                            </option>
                            <option value="">Desc</option>
                            <option value="">Asc</option>
                        </select>
                    </form>
                    <form class="menu__form" action="">Type
                        <select class="select__gallery select__gallery--type" name="all" id="">
                            <option value="">
                                All
                            </option>
                            <option value="">Static</option>
                            <option value="">Animated</option>
                        </select>
                    </form>
                    <form class="menu__form" action="">Breed
                        <select class="select__gallery select__gallery--breed" name="" id="">
                            <option value="">
                                None
                            </option>
                            <option value="">Abyssinian</option>
                            <option value="">Bengal</option>
                            <option value="">
                                Agean
                            </option>
                            <option value="">American Bobtail</option>
                            <option value="">American Shorthair</option>
                            <option value="">American Wirehair</option>
                            <option value="">...</option>
                        </select>
                    </form>
                    <form class="menu__form menu__form--limit" action="">Limit
                        <select class="select__gallery select__gallery--limit" name="" id="">
                            <option value="">5 items per page</option>
                            <option value="">5 items per page</option>
                            <option value="">5 items per page</option>
                            <option value="">5 items per page</option>
                        </select>

                    </form>
                    <button class="button__refresh"><svg class="button__refresh--icon">
                            <use href="./images/icon/icons.svg#refresh"></use>
                        </svg></button>
                </div>
                <div class="breeds__container">
                    <ul class="breeds__list">
                        <li class="breeds__item">
                            <img class="breeds__img" src="./images/voting-img.png" alt="breeds img">
                        </li>
                        <li class="breeds__item">
                            <img class="breeds__img" src="./images/voting-img.png" alt="breeds img">
                        </li>
                        <li class="breeds__item">
                            <img class="breeds__img" src="./images/voting-img.png" alt="breeds img">
                        </li>
                        <li class="breeds__item">
                            <img class="breeds__img" src="./images/voting-img.png" alt="breeds img">
                        </li>
                        <li class="breeds__item">
                            <img class="breeds__img" src="./images/voting-img.png" alt="breeds img">
                        </li>
                        <li class="breeds__item">
                            <img class="breeds__img" src="./images/voting-img.png" alt="breeds img">
                        </li>
                        <!-- <li class="breeds__item">
                            <img class="breeds__img" src=`(${imageURL})` alt="breeds img">
                        </li> -->

                    </ul>


                </div>

            </div>
        </div>
    </div>
</div>