<div class="section">
  <div class="section__right">
    <div class="section__container">
      <div class="top__menu">
        <div class="input__container">
          <input class="input__line" type="text" placeholder="Search for breeds by name" />
          <button type="button" class="input__button">
            <svg class="input__search">
              <use href="./images/icon/icons.svg#search"></use>
            </svg>
          </button>
        </div>
        <div class="reactions__container">
          <a href="" class="icon__container">
            <svg class="icon__img icon__img--smile">
              <use href="./images/icon/icons.svg#smile"></use>
            </svg>
          </a>
          <a href="" class="icon__container">
            <svg class="icon__img icon__img--heart">
              <use href="./images/icon/icons.svg#heart"></use>
            </svg>
          </a>
          <a href="" class="icon__container">
            <svg class="icon__img icon__img--sad">
              <use href="./images/icon/icons.svg#sad"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="menu__container">
        <div class="button__wrapper">
          <a href="" class="button__back">
            <svg class="arrow-left">
              <use href="./images/icon/icons.svg#arrow-left"></use>
            </svg>
          </a>
          <h3 class="menu__info">BREEDS</h3>
          <h2 class="info__id">28</h2>
        </div>

        <div class="breeds__container">
          <div class="info__container">
            <img class="info__container--img" src="./images/cat.png" alt="" />
            <div class="slider">
                <button><span class="slider__img"></span></button>
                <button><span class="slider__img"></span></button>
                <button><span class="slider__img"></span></button>
                <button><span class="slider__img"></span></button>
                <button><span class="slider__img"></span></button>
                <button><span class="slider__img"></span></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
