<div class="section">
    <div class="section__right">
        <div class="section__container">
            <div class="top__menu">
                <div class="input__container">
                    <input class="input__line" type="text" placeholder="Search for breeds by name">
                    <button type="button" class="input__button">
                        <svg class="input__search">
                            <use href="./images/icon/icons.svg#search"></use>
                        </svg>
                    </button>
                </div>
                <div class="reactions__container">
                    <button  class="icon__container ">

                        <svg class="icon__img icon__img--smile">
                            <use href="./images/icon/icons.svg#smile"></use>
                        </svg>

                    </button>
                    <button type="button" class="icon__container">
                        <svg class='icon__img icon__img--heart'>
                            <use href='./images/icon/icons.svg#heart'></use>
                        </svg>
                    </button>
                    <button  class='icon__container'>
                        <svg class='icon__img icon__img--sad'>
                            <use href='./images/icon/icons.svg#sad'></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="menu__container">
                <div class="button__wrapper">

                    <button href="" class="button__back">
                        <svg class="arrow-left">
                            <use href="./images/icon/icons.svg#arrow-left"></use>
                        </svg>
                    </button>
                    <h3 class="menu__title">VOTING</h3>
                </div>
                <div class="voting__img">
                    <img class="voting__img--cat" src="./images/voting-img.png" alt="voting img">
                    <div class="reactions">
                        <button  class="reactions__button green smile">
                            <svg class="reactions__img reactions__img--smile">
                                <use href="./images/icon/icons.svg#smile"></use>
                            </svg>
                        </button>
                        <button  class="reactions__button pink heart">
                            <svg class="reactions__img reactions__img--heart">
                                <use href="./images/icon/icons.svg#heart"></use>
                            </svg>
                        </button>
                        <button  class="reactions__button yellow sad" >
                            <svg class="reactions__img reactions__img--sad">
                                <use href="./images/icon/icons.svg#sad"></use>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="actions__log">

                    <ul class="actions__log--list">

                         <!-- <li class="actions__log--line">
                            <div class="actions__log--time">22:10</div>
                            <div class="actions__log--wrapper">
                                <div class="actions__log--text">++Image Id: <b>fQSunHvl8</b> was added to Likes</div>
                                <svg class="actions__log--img smile">
                                    <use href="./images/icon/icons.svg#smile"></use>
                                </svg>
                            </div>
                        </li> --> 

                        <!-- <li class="actions__log--line">
                            <div class="actions__log--time">22:10</div>
                            <div class="actions__log--wrapper">
                                <div class="actions__log--text">Image Id: <b>fQSunHvl8</b> was added to Favourites
                                </div>
                                <svg class="actions__log--img heart">
                                    <use href="./images/icon/icons.svg#heart"></use>
                                </svg>
                            </div>
                        </li>
                        <li class="actions__log--line">
                            <div class="actions__log--time">22:10</div>
                            <div class="actions__log--wrapper">
                                <div class="actions__log--text">Image Id: <b>fQSunHvl8</b> was added to Dislikes
                                </div>
                                <svg class="actions__log--img sad">
                                    <use href="./images/icon/icons.svg#sad"></use>
                                </svg>
                            </div>
                        </li>
                        <li class="actions__log--line">
                            <div class="actions__log--time">22:10</div>
                            <div class="actions__log--text">Image Id: <b>fQSunHvl8</b> was removed from Favourites
                            </div>

                        </li> -->



                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>